@import url('whitespace-reset.css');

/* company index */
body {
  font: normal 20px "Avenir", Helvetica, Arial, Sans-serif;
  text-align: center;
  color: #45494d;
}

header {
  width: 100%;
  height: 570px;
  background: #2f2840 url("../HTML, CSS & jQuery/company_site/images/bg_body.gif") repeat;
}

h1 {
  padding: 105px 0 128px 0;
}

nav ul li {
  display: inline;
  padding: 0 37.5px;
}

nav ul a {
  color: #cacaca;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 26px;
}

nav ul a.highlighted {
  color: #6db9ff;
  font-weight: bold;
}

main {
  padding: 125px 0 23px 0;
}

.column {
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 36px 0;
}

h2:before, h2:after {
  display: inline;
  padding: 0 24px;
  content: "\2022";
  font-size: 22px;
  vertical-align: middle;
}

#projects figure {
  padding: 12px 0 40px 0;
  display: block;
}

h3 {
  padding: 0px 0 14px 0;
  font-weight: bold;
  color: #3e59b2;
  font-size: 24px;
}

article p {
  padding: 10px 125px 115px 125px;
}

#team li {
  display: inline-block;
  width: 140px;
  height: 152px;
  padding: 0 29px;
}

#team a {
  color: #3e59b2;
  font-size: 24px;
  padding: 32px 0 0 0;
  text-decoration: none;
}

#team ul {
  padding: 20px 0 160px;
}

#team img {
  display: block;
  margin: 0 0 20px 0;
}

footer {
  background-color: #e7e7e7;
  padding: 85px 0 80px 0;
}

footer p {
  padding: 0 0 48px 0;
  font-size: 20px;
  color: #b2b2b2;
}

footer li {
  display: inline-block;
  margin: 0 62px;
}

footer li a {
  display: block;
  width: 42px;
  height: 42px;
  background: transparent url("../HTML, CSS & jQuery/company_site/images/icons_social-media.png") 0 0 no-repeat;
  background-size: 42px;
}

footer li a.facebook {
  background-position: 0 -42px;
}

footer li a.email {
  background-position: 0 -84px;
}

footer li a.instagram {
  background-position: 0 100%;
}

@media (max-width: 875px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }

  #team img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  main {
    padding: 80px 0 0 0;
  }

  #home {
    padding: 0 40px;
  }

  article p {
  padding: 10px 0 115px 0;
  text-align: justify;
}
}
