@import url('whitespace-reset.css');

/* company index */
body {
  font: normal 20px "Avenir", Helvetica, Arial, Sans-serif;
  text-align: center;
  color: #45494d;
}

header {
  width: 100%;
  height: 570px;
  background: #2f2840 url("../HTML, CSS & jQuery/company_site/images/bg_body.gif") repeat;
}

h1 {
  padding: 105px 0 128px 0;
}

h1 a {
  display: inline-block;
  text-indent: -99999px;
  width: 298px;
  height: 243px;
  background: transparent url("../HTML, CSS & jQuery/company_site/images/logo.png") 0 0 no-repeat;
}

nav ul li {
  display: inline;
  padding: 0 37.5px;
}

nav ul a {
  color: #cacaca;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 26px;
}

nav ul a.highlighted {
  color: #6db9ff;
  font-weight: bold;
}

main {
  padding: 125px 0 23px 0;
}

.column {
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 36px 0;
}

h2:before, h2:after {
  display: inline;
  padding: 0 24px;
  content: "\2022";
  font-size: 22px;
  vertical-align: middle;
}

#projects figure {
  padding: 12px 0 40px 0;
  display: block;
}

#projects figure img {
  width: 100%;
}

h3 {
  padding: 0px 0 14px 0;
  font-weight: bold;
  color: #3e59b2;
  font-size: 24px;
}

article p {
  padding: 10px 125px 115px 125px;
}

#team li {
  display: inline-block;
  width: 140px;
  padding: 0 29px;
}

#team a {
  color: #3e59b2;
  font-size: 24px;
  padding: 32px 0 0 0;
  text-decoration: none;
}

#team ul {
  padding: 20px 0 160px;
}

#team img {
  display: block;
  margin: 0 0 20px 0;
}

footer {
  background-color: #e7e7e7;
  padding: 85px 0 80px 0;
}

footer p {
  padding: 0 0 48px 0;
  font-size: 20px;
  color: #b2b2b2;
}

footer li {
  display: inline-block;
  margin: 0 62px;
}

footer li a {
  display: block;
  width: 42px;
  height: 42px;
  background: transparent url("../HTML, CSS & jQuery/company_site/images/icons_social-media.png") 0 0 no-repeat;
  background-size: 42px;
}

footer li a.facebook {
  background-position: 0 -42px;
}

footer li a.email {
  background-position: 0 -84px;
}

footer li a.instagram {
  background-position: 0 100%;
}

@media (max-width: 875px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }

  #team li img {
    margin: 0 auto 20px auto;
  }
}

/* tablet version */
@media (max-width: 768px) {
  header {
    height: 340px
  }

  header h1 {
    padding: 65px 0 32px 0;
  }

  header h1 a {
    width: 223px;
    height: 182px;
    background-size: cover;
  }

  main {
    padding: 77px 0 0 0;
  }

  main div {
    padding: 0 40px;
  }

  article p {
  padding: 10px 0 115px 0;
  text-align: justify;
  }

  footer {
    padding: 60px 0 40px 0;
  }

  footer ul li {
    padding: 0 34px;
    margin: 0 0;
  }
}

/* mobile version */
@media (max-width: 517px) {
  body {
    font-size: 16px;
  }

  header{
    height: 126px;
  }

  header h1 {
    padding: 34px 0 0 21px;
    float: left;
    font-size: 20px
  }

  header h1 a {
    width: auto;
    height: 42px;
    text-indent: 0px;
    background-size: 90px auto;
    background-position: -20px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 0 0 55px;
  }

  nav {
    text-align: right;
    padding: 10px 20px 0 0;
  }

  nav ul li {
    padding: 6px 0;
    display: block;
  }

  nav ul a {
    font-size: 16px;
  }

  h2 {
    font-size: 26px;
    padding-bottom: 32px;
  }

  h2:before, h2:after {
    vertical-align: 0;
  }

  main {
    padding: 68px 0 0 0;
  }

  article p {
    padding-bottom: 70px;
  }

  footer {
    padding: 38px 40px 26px 40px;
  }

  footer ul li {
    padding: 0 12px;
    margin: 0 0;
  }

  footer p {
    padding: 0 0 60px 0;
    font-size: 16px;
  }

  #team ul {
    margin-top: -20px;
    padding: 0 0 70px 0;
  }
}
